AIRBYTE_URL=http://localhost:8000
AIRBYTE_WORKSPACE_ID=<workspace_id>
AIRBYTE_DESTINATION_ID=<bigquery_destination_id>
AIRBYTE_CLIENT_ID=<airbyte_client_id>
AIRBYTE_CLIENT_SECRET=<airbyte_client_secret>

SUPABASE_HOST=db.zcfngsbfxtrpiuguydlp.supabase.co
SUPABASE_PORT=5432
SUPABASE_DATABASE=postgres
SUPABASE_USERNAME=postgres
SUPABASE_DB_PASSWORD=<supabase_database_password>
SUPABASE_SCHEMA=public
